body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cdcdc0;
    color: 626d71;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    width: 100%;
    margin-bottom: 20px;
    margin: 1rem;
}

.card {
    background-color: #F4EDE1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.title-card h1 {
  text-align: center;
}

.title-card h4 {
  text-align: center;
}

.title-card h2 {
  text-align: center;
}

.title-card p {
  text-align: center;
}

.title-card .center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-card img {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  max-width: 100%;
}

.flex-grid {
  display: flex;
  justify-content: space-around;
}

.donations h2 {
  padding: 1rem;
}

.donations p {
  padding: 1rem;
  text-align: center
}

#zelle {
  padding: 0;
  border: none;
  background: none;
  padding: 1rem;
  cursor: pointer;
}

#zelle img {
  max-width: 100%;
}

#venmo {
  padding: 0;
  border: none;
  background: none;
  padding: 1rem;
  cursor: pointer;
}

#venmo img {
  max-width: 100%;
}

#cashapp {
  padding: 0;
  border: none;
  background: none;
  padding: 1rem;
  cursor: pointer;
}

#cashapp img {
  max-width: 100%;
}

#paypal {
  padding: 0;
  border: none;
  background: none;
  padding: 1rem;
  cursor: pointer;
}

#paypal img {
  max-width: 100%;
}

.officiant {
  padding: 1rem;
}

.obituary {
  padding: 1rem;
}

.schedule {
  padding: 1rem;
}

.schedule .memorial {
  padding-top: 1rem;
}

.schedule .viewing {
  padding-top: 1rem;
}

.schedule .funeral {
  padding-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .officiant h2,
  .donations h2,
  .obituary h2,
  .schedule h2 {
    text-align: center;
  }
}
